---
// 这是一个文章的总局 2026.2.27
import ArticleLayout from '../layouts/ArticleLayout.astro'

---


<ArticleLayout title="项目简介" >
     <!-- <Content />  -->
  <h4>（1）研究背景<br></h4>
     当前中学美育存在形式单一、科技融合不足、心理关怀缺失等问题，中学生对美育的核心需求集中在互动性、情绪调节功能和校本文化贴合度。本项目以艺术疗愈理论为核心框架，结合 AIGC 技术发展趋势，探索校本文化与中学疗愈性美育的深度融合路径，填补中学美育心理关怀与科技赋能的双重空白。<br>
<h4>（2）核心目标<br></h4>
打造 “艺术 + 科技 + 心理 + 教育” 跨学科协同的美育创新范式，以南京外国语学校为核心实践基地，通过 IP 打造、文创开发、数字平台搭建、交互装置研发等多元成果，为中学生提供情绪调节与审美提升的双重载体，形成可复制、可推广的中学疗愈性美育实践模型，实现学术价值、教育价值与社会价值的协同提升。
</ArticleLayout>