---
// 这是一个文章的总局 2026.2.27
import ArticleLayout from '../layouts/ArticleLayout.astro'

// 这是一个design.md markdown文件 2026.2.27

---


<ArticleLayout title="合作网络" >
     <!-- <Content />  -->
<h4>校地与校企合作网络构建<br></h4>
成功搭建 “高校 + 中学 + 企业” 三方协同的合作网络，签订多项合作文件，确保项目可持续推进：<br>
（1）与南京外国语学校：签订合作书，为活动共建、IP 授权、文创共创、及后续合作内容奠定基础。校方出具感谢信，认可考神兔 IP 的校园文化价值，考神兔已作为公益形象亮相南外运动会、科技节、高考动员会等活动，在对外交流中，多名学子及海内外人士与考神兔合影。<br>
（2）与南师大出版社：签订合作意向书，明确电子书出版、美育课程资源包开发两大合作方向，出版社已指派编辑跟进初稿优化。<br>
（3）与凤凰传媒：签订合作备忘录，达成四大合作共识 —— 联合制作艺术疗愈科普视频、共建美育资源库、举办线上展览、在南外校内开设文创体验店，考神兔 IP 已纳入凤凰传媒美育案例库。<br>
（4）与南师大心理学院、电气与自动化工程学院：达成合作支持意向，心理学院提供艺术疗愈理论指导与实验室资源，电自院提供智能装置技术支持。<br>

</ArticleLayout>